* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.slick-dots li button {
  width: 1rem !important;
  height: 1rem !important;
  color: #e6e8ec !important;
}

.slick-dots li button:before {
  font-size: 1rem !important;
  color: #e6e8ec !important;
  opacity: 0.8 !important;
}

.slick-dots li.slick-active button:before {
  color: #b1b5c4 !important;
  opacity: 1 !important;
}
